<a href="https://colab.research.google.com/github/scar110497/Shubham/blob/main/SPARK_Assignment_1_COVID_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#install Apache Spark 3.0.1 with Hadoop 2.7 from here.
!wget https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop2.7.tgz

# Now, we just need to unzip that folder.
!tar -xvzf spark-3.0.0-bin-hadoop2.7.tgz
!pip install findspark


import os
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop2.7"
import findspark
findspark.init()

In [46]:
from pyspark.sql import SparkSession
from pyspark.sql.types import LongType, StringType, StructField, StructType, BooleanType, ArrayType, IntegerType, DoubleType
spark = SparkSession.builder.master("local").appName("SparkDemoApp").getOrCreate()
sc = spark.sparkContext
print(type(spark))

<class 'pyspark.sql.session.SparkSession'>

In [49]:
#Load the covid 19 data in to a spark dataframe (country_wise_latest.csv) with the correct schema definition

schema = StructType([
    StructField("Country/Region", StringType()),
    StructField("Confirmed", IntegerType()),
    StructField("Deaths", IntegerType()),
    StructField("Recovered", IntegerType()),
    StructField("Active", IntegerType()),
    StructField("New cases", IntegerType()),
    StructField("New deaths", IntegerType()),
    StructField("New recovered", IntegerType()),
    StructField("Deaths / 100 Cases", DoubleType()),
    StructField("Recovered / 100 Cases", DoubleType()),
    StructField("Deaths / 100 Recovered", DoubleType()),
    StructField("Confirmed last week", IntegerType()),
    StructField("1 week change", IntegerType()),
    StructField("1 week % increase", DoubleType()),
    StructField("WHO Region", StringType())
])
user_df=spark.read.csv(path='/content/country_wise_latest.csv', header=True, schema=schema)
user_df.show()

#The are some column names which are long, contains special characters, spaces etc. Rename all such column names accordingly. Example Country/Region → country New cases → New_cases etc
renamed_user_df = user_df.withColumnRenamed("Country/Region", "Country_Reg").withColumnRenamed("New cases", "New_Cases").withColumnRenamed("New deaths", "New_deaths").withColumnRenamed("New recovered", "New_recovered").withColumnRenamed("Deaths / 100 Cases", "Deaths_100cases").withColumnRenamed("Recovered / 100 Cases", "Recovered_100cases").withColumnRenamed("Deaths / 100 Recovered", "Deaths_100Recovered").withColumnRenamed("Confirmed last week", "Confirmed_last_week").withColumnRenamed("1 week change", "1_week_change").withColumnRenamed("1 week % increase", "1_week_per_increase").withColumnRenamed("WHO Region", "WHO_Region")
renamed_user_df.show()

+-------------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
|     Country/Region|Confirmed|Deaths|Recovered|Active|New cases|New deaths|New recovered|Deaths / 100 Cases|Recovered / 100 Cases|Deaths / 100 Recovered|Confirmed last week|1 week change|1 week % increase|          WHO Region|
+-------------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
|        Afghanistan|    36263|  1269|    25198|  9796|      106|        10|           18|               3.5|                69.49|                  5.04|              35526|          737|             2.07|Eastern Mediterra...|
|            Albania|     4880|   144|     2745|  1991|      117|         6|           63|              2.95|                56.25|                  5.25|               4171|          709|             17.0|              Europe|
|            Algeria|    27973|  1163|    18837|  7973|      616|         8|          749|              4.16|                67.34|                  6.17|              23691|         4282|            18.07|              Africa|
|            Andorra|      907|    52|      803|    52|       10|         0|            0|              5.73|                88.53|                  6.48|                884|           23|              2.6|              Europe|
|             Angola|      950|    41|      242|   667|       18|         1|            0|              4.32|                25.47|                 16.94|                749|          201|            26.84|              Africa|
|Antigua and Barbuda|       86|     3|       65|    18|        4|         0|            5|              3.49|                75.58|                  4.62|                 76|           10|            13.16|            Americas|
|          Argentina|   167416|  3059|    72575| 91782|     4890|       120|         2057|              1.83|                43.35|                  4.21|             130774|        36642|            28.02|            Americas|
|            Armenia|    37390|   711|    26665| 10014|       73|         6|          187|               1.9|                71.32|                  2.67|              34981|         2409|             6.89|              Europe|
|          Australia|    15303|   167|     9311|  5825|      368|         6|          137|              1.09|                60.84|                  1.79|              12428|         2875|            23.13|     Western Pacific|
|            Austria|    20558|   713|    18246|  1599|       86|         1|           37|              3.47|                88.75|                  3.91|              19743|          815|             4.13|              Europe|
|         Azerbaijan|    30446|   423|    23242|  6781|      396|         6|          558|              1.39|                76.34|                  1.82|              27890|         2556|             9.16|              Europe|
|            Bahamas|      382|    11|       91|   280|       40|         0|            0|              2.88|                23.82|                 12.09|                174|          208|           119.54|            Americas|
|            Bahrain|    39482|   141|    36110|  3231|      351|         1|          421|              0.36|                91.46|                  0.39|              36936|         2546|             6.89|Eastern Mediterra...|
|         Bangladesh|   226225|  2965|   125683| 97577|     2772|        37|         1801|              1.31|                55.56|                  2.36|             207453|        18772|             9.05|     South-East Asia|
|           Barbados|      110|     7|       94|     9|        0|         0|            0|              6.36|                85.45|                  7.45|                106|            4|             3.77|            Americas|
|            Belarus|    67251|   538|    60492|  6221|      119|         4|           67|               0.8|                89.95|                  0.89|              66213|         1038|             1.57|              Europe|
|            Belgium|    66428|  9822|    17452| 39154|      402|         1|           14|             14.79|                26.27|                 56.28|              64094|         2334|             3.64|              Europe|
|             Belize|       48|     2|       26|    20|        0|         0|            0|              4.17|                54.17|                  7.69|                 40|            8|             20.0|            Americas|
|              Benin|     1770|    35|     1036|   699|        0|         0|            0|              1.98|                58.53|                  3.38|               1602|          168|            10.49|              Africa|
|             Bhutan|       99|     0|       86|    13|        4|         0|            1|               0.0|                86.87|                   0.0|                 90|            9|             10.0|     South-East Asia|
+-------------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
only showing top 20 rows

+-------------------+---------+------+---------+------+---------+----------+-------------+---------------+------------------+-------------------+-------------------+-------------+-------------------+--------------------+
|        Country_Reg|Confirmed|Deaths|Recovered|Active|New_Cases|New_deaths|New_recovered|Deaths_100cases|Recovered_100cases|Deaths_100Recovered|Confirmed_last_week|1_week_change|1_week_per_increase|          WHO_Region|
+-------------------+---------+------+---------+------+---------+----------+-------------+---------------+------------------+-------------------+-------------------+-------------+-------------------+--------------------+
|        Afghanistan|    36263|  1269|    25198|  9796|      106|        10|           18|            3.5|             69.49|               5.04|              35526|          737|               2.07|Eastern Mediterra...|
|            Albania|     4880|   144|     2745|  1991|      117|         6|           63|           2.95|             56.25|               5.25|               4171|          709|               17.0|              Europe|
|            Algeria|    27973|  1163|    18837|  7973|      616|         8|          749|           4.16|             67.34|               6.17|              23691|         4282|              18.07|              Africa|
|            Andorra|      907|    52|      803|    52|       10|         0|            0|           5.73|             88.53|               6.48|                884|           23|                2.6|              Europe|
|             Angola|      950|    41|      242|   667|       18|         1|            0|           4.32|             25.47|              16.94|                749|          201|              26.84|              Africa|
|Antigua and Barbuda|       86|     3|       65|    18|        4|         0|            5|           3.49|             75.58|               4.62|                 76|           10|              13.16|            Americas|
|          Argentina|   167416|  3059|    72575| 91782|     4890|       120|         2057|           1.83|             43.35|               4.21|             130774|        36642|              28.02|            Americas|
|            Armenia|    37390|   711|    26665| 10014|       73|         6|          187|            1.9|             71.32|               2.67|              34981|         2409|               6.89|              Europe|
|          Australia|    15303|   167|     9311|  5825|      368|         6|          137|           1.09|             60.84|               1.79|              12428|         2875|              23.13|     Western Pacific|
|            Austria|    20558|   713|    18246|  1599|       86|         1|           37|           3.47|             88.75|               3.91|              19743|          815|               4.13|              Europe|
|         Azerbaijan|    30446|   423|    23242|  6781|      396|         6|          558|           1.39|             76.34|               1.82|              27890|         2556|               9.16|              Europe|
|            Bahamas|      382|    11|       91|   280|       40|         0|            0|           2.88|             23.82|              12.09|                174|          208|             119.54|            Americas|
|            Bahrain|    39482|   141|    36110|  3231|      351|         1|          421|           0.36|             91.46|               0.39|              36936|         2546|               6.89|Eastern Mediterra...|
|         Bangladesh|   226225|  2965|   125683| 97577|     2772|        37|         1801|           1.31|             55.56|               2.36|             207453|        18772|               9.05|     South-East Asia|
|           Barbados|      110|     7|       94|     9|        0|         0|            0|           6.36|             85.45|               7.45|                106|            4|               3.77|            Americas|
|            Belarus|    67251|   538|    60492|  6221|      119|         4|           67|            0.8|             89.95|               0.89|              66213|         1038|               1.57|              Europe|
|            Belgium|    66428|  9822|    17452| 39154|      402|         1|           14|          14.79|             26.27|              56.28|              64094|         2334|               3.64|              Europe|
|             Belize|       48|     2|       26|    20|        0|         0|            0|           4.17|             54.17|               7.69|                 40|            8|               20.0|            Americas|
|              Benin|     1770|    35|     1036|   699|        0|         0|            0|           1.98|             58.53|               3.38|               1602|          168|              10.49|              Africa|
|             Bhutan|       99|     0|       86|    13|        4|         0|            1|            0.0|             86.87|                0.0|                 90|            9|               10.0|     South-East Asia|
+-------------------+---------+------+---------+------+---------+----------+-------------+---------------+------------------+-------------------+-------------------+-------------+-------------------+--------------------+
only showing top 20 rows

In [50]:
# Count and check if there any null values in any of the columns

for column in renamed_user_df.columns:
    null_count = renamed_user_df.where(renamed_user_df[column].isNull()).count()
    print(f"Column '{column}' has {null_count} null values.")

total_null_count = renamed_user_df.na.drop().count()
print(f"\nTotal null values in the DataFrame: {total_null_count}")

Column 'Country_Reg' has 0 null values.
Column 'Confirmed' has 0 null values.
Column 'Deaths' has 0 null values.
Column 'Recovered' has 0 null values.
Column 'Active' has 0 null values.
Column 'New_Cases' has 0 null values.
Column 'New_deaths' has 0 null values.
Column 'New_recovered' has 0 null values.
Column 'Deaths_100cases' has 0 null values.
Column 'Recovered_100cases' has 0 null values.
Column 'Deaths_100Recovered' has 5 null values.
Column 'Confirmed_last_week' has 0 null values.
Column '1_week_change' has 0 null values.
Column '1_week_per_increase' has 0 null values.
Column 'WHO_Region' has 0 null values.

Total null values in the DataFrame: 182

In [54]:
#What are the top 10 countries under the WHO region with covid 19 Confirmed cases


from pyspark.sql import SparkSession
from pyspark.sql.functions import *

top_10 = (renamed_user_df.groupBy("WHO_Region", "Country_Reg") .agg(
    max("Confirmed").alias("max_confirmed")).orderBy("max_confirmed", ascending=False)
    .limit(10))

top_10.show(truncate=False)

+---------------------+--------------+-------------+
|WHO_Region           |Country_Reg   |max_confirmed|
+---------------------+--------------+-------------+
|Americas             |US            |4290259      |
|Americas             |Brazil        |2442375      |
|South-East Asia      |India         |1480073      |
|Europe               |Russia        |816680       |
|Africa               |South Africa  |452529       |
|Americas             |Mexico        |395489       |
|Americas             |Peru          |389717       |
|Americas             |Chile         |347923       |
|Europe               |United Kingdom|301708       |
|Eastern Mediterranean|Iran          |293606       |
+---------------------+--------------+-------------+

In [55]:
#What are the bottom 10 countries under the WHO region with covid 19 Confirmed cases

from pyspark.sql import SparkSession
from pyspark.sql.functions import *

top_10 = (renamed_user_df.groupBy("WHO_Region", "Country_Reg") .agg(
    max("Confirmed").alias("max_confirmed")).orderBy("max_confirmed", ascending=True)
    .limit(10))

top_10.show(truncate=False)

+---------------+---------------------+-------------+
|WHO_Region     |Country_Reg          |max_confirmed|
+---------------+---------------------+-------------+
|Africa         |Western Sahara       |10           |
|Europe         |Holy See             |12           |
|Europe         |Greenland            |14           |
|Americas       |Saint Kitts and Nevis|17           |
|Americas       |Dominica             |18           |
|Western Pacific|Laos                 |20           |
|Americas       |Grenada              |23           |
|Americas       |Saint Lucia          |24           |
|South-East Asia|Timor-Leste          |24           |
|Western Pacific|Fiji                 |27           |
+---------------+---------------------+-------------+

In [58]:
#What are the total number of countries/ total no. of WHO regions and also list the various WHO regions

from pyspark.sql import SparkSession
from pyspark.sql.functions import *

Country_Total = renamed_user_df.select("Country_Reg").distinct().count()
WHO_Total = renamed_user_df.select("WHO_Region").distinct().count()

print(f"Total countries: {Country_Total}")
print(f"Total WHO regions: {WHO_Total}")
print("List of WHO regions:")
renamed_user_df.select("WHO_Region").distinct().show(truncate=False)

Total countries: 187
Total WHO regions: 6
List of WHO regions:
+---------------------+
|WHO_Region           |
+---------------------+
|Europe               |
|Western Pacific      |
|Africa               |
|Eastern Mediterranean|
|Americas             |
|South-East Asia      |
+---------------------+